html, body {
  font-family: 'Changa', sans-serif;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#clock {
  color: green;
  font-size: 30pt;
}
.hidden{
  display: none;
}

canvas {
	cursor: crosshair;
	display: block;
}

#fireworks{
  position: absolute;
  top: 0;
  left: 0;
}

